#main-content {
    margin: 2rem 3rem;
}

.split-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tbody {
    background-color: #dddcdc;
}

td {
    padding: 0.5rem;
    border: 1px solid #ccc;
}

tr:nth-child(even) {
    background-color: var(--secondary-color);
}

