#Assetcard--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40rem;
    background-color: var(--secondary-color);
    padding: 30px;
    align-items: center;
    margin: 1rem;
}

.Assetcard--image {
    border-radius: 9px;
}

#Assetcard--info {
    display: flex;
    flex-direction: column;
    margin: 3%;
}

#Assetcard--info > h2, #Assetcard--info > p {
    margin: .5rem 0;
}