#comment--wrapper {
  display: flex;
  flex-direction: row;
  padding: 12px;
  width: 100%;
  overflow: hidden;
  min-height: 12rem;
}

#comment--heading {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1rem;
}

#comment--user {
  text-transform: uppercase;
  font-weight: 500;
}

#comment--date {
  font-size: 12px;
}

#comment--post {
  width: 80%;
}
