#navbar {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    line-height: 3rem;
}

/* Direct child padding */
#navbar > * {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
}
#navbar > * > input, button {
    height: 2rem;
    line-height: 2;
}

#navbar img {
    margin: 0 10px
}

#search-btn {
    font-size: .8rem;
    padding: 0.25rem 0.5rem;
    margin-left: 1rem;
    background-color: var(--primary-color);
    color: white;
}

#profile {
    border: 2px solid var(--text-color);
    border-radius: 50%;
    height: 2.4rem;
    width: 2.4rem;
    object-fit: cover;
    overflow: hidden;
    background-color: white;
}

.nav-icons {
    height: 1.5rem;
    width: 1.5rem;
    object-fit: cover;
}