.page-body {
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}
#property-form {
  position: relative;
  border-radius: 20px;
  min-width: fit-content;
  padding: 30px;
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 167px auto;
  gap: 1rem;
  text-align: right;
  align-items: center;
}
#property-form > input {
  padding: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  font-size: 1rem;
}
#property-form > label {
  font-size: 1rem;
}
#add-property-btn {
  position: absolute;
  right: 3rem;
  margin-top: 2rem;
}
