#footer {
  display: block;
  margin-top: 10rem;
  width: 100%;
}
#footer ul > li {
  margin-bottom: 0.5rem;
}
#footer a {
  display: flex;
  align-items: center;
  width: inherit;
  text-decoration: none;
  color: var(--primary);
}
