.preview-item-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.preview-image-container {
  height: 70%;
  max-height: 70%;
  border-radius: 20px;
  overflow: hidden;
  object-fit: cover;
  position: relative;
  transition: 0.3s all;
}
.preview-image-button-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;

  position: absolute;
  padding: 0 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.preview-image-container:hover .preview-image-button,
.preview-image-container:hover .preview-image-counter {
  display: block;
  animation: fade-in 0.15s ease-in-out;
}
.preview-image-button {
  display: none;
  border-radius: 100px;
  height: 100%;
  width: 30px;
  background-color: white;
  border: none;
  color: black;
  line-height: 44px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 60px;
}
.preview-image-button:active {
  transform: translateY(-29px); /* counter act transformation down */
}
.preview-image-button:hover {
  filter: blur(1.5px);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.button-right {
  right: 3%;
}
.button-left {
  left: 3%;
}
.preview-image-button:hover {
  cursor: pointer;
  filter: blur(0.5px);
}
.preview-image-counter {
  display: none;
  font-weight: bold;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 100px;

  position: absolute;
  justify-content: space-between;
  bottom: 3%;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
}
.preview-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s all;
}
.preview-image > img:hover {
  cursor: pointer;
}

.preview-card-description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  padding: 0.75rem;
  margin: 0;
}
.description-header {
  display: flex;
  align-items: center;
}
.description-header > h3 {
  flex: 1;
  margin: 0;
  overflow: hidden;
}
.description-header > img {
  height: 1rem;
  width: 1rem;
  margin-right: 0.25rem;
}
.preview-card-description > p {
  margin: 0;
  overflow: hidden;
}
