#demoWrapper {
    padding: 10px;
    background-color: grey;
    box-sizing: border-box;
    resize: horizontal;
    border: 1px dashed;
    overflow: auto;
    max-width: 100%;
    height: calc(100vh - 16px);
  }
  
  h5 {
    width: 100%;
    padding-bottom: 75%;
    background-color: gold; /** <-- For the demo **/
  }