#search {
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 2rem;
  min-height: 101vh;
}

.grid {
  display: grid;
  grid-gap: 2rem;

  /* define the number of grid columns */
  /* minmax is the min width and max width of each column */
  /* auto-fit will fit as many columns as possible */
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.grid-item {
  height: 500px;
  /* border: 1px solid #ccc;
  box-shadow: #ccc 0px 0px 15px; */
}

#filter {
  margin: 3rem 0 2rem 0;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
#searchTerm {
  border: 2px solid #ccc;
  padding: 1rem;
  width: 50%;
  margin-left: 1rem;
  border-radius: 100px;
}
